app.css

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


figurelist.css

.container {
  text-align: center;
  padding: 20px;
}

.buttons {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: darkgreen;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}


index.css


.gallery-container {
  width: 800px;
  height: 500px;
  border: 2px solid;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}

.image-card {
  width: 180px;
  height: 180px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-card:hover {
  transform: scale(1.05);
}

.image-card img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.caption {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

